<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>DUNE WIKI</title>
</head>
<body>
    <table border="1" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <th width="20%">HOUSES DUNE</th>
            <th width="80%">DUNE</th>
        </tr>
        <tr>
            <td width="20%">
        <ul>
            <li><a href="index.html" title="Ссылка 1">House of Atreides</a></li>
            <li><a href="index.html" title="Ссылка 2">House Harkonnen</a></li>
            <li><a href="index.html" title="Ссылка 3">House Ordos</a></li>
        </ul>
        </td>
            <td width="80%"><b>"The Chronicles of Dune"</b> — a series of sci-fi
                novels by the American writer Frank
                Herbert became part of an extensive franchise.</td>
        </tr>
    </table>
</body>
</html>